* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #ffffff;
}

/* Navbar */
ul li a.nav-link {
  color: #ffffff;
}

ul li a.nav-link:hover {
  font-weight: bold;
  color: #fff;
}

.navbar-logo {
  margin-right: 0.5rem;
}

/* Navbar End */

/* Hero */
.hero {
  min-height: 95vh;
  min-width: 100%;
  display: flex;
  align-items: flex-start;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  padding: 20vh 7% 0;
  max-width: 60rem;
  text-align: center;
  margin: 0 auto; /* Menengahkan konten */
}

.hero .content h1 {
  font-size: 4em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.tombol {
  background-color: #412496;
  color: #fff;
}

.tombol:hover {
  background-color: #412496;
  font-weight: bold;
  color: #ffff;
  transition: ease 0.3s;
}
/* Hero end */

/* Banner */
.banner h2 {
  color: #412496;
}
/* Banner end */

/* Promo */
.Promo {
  min-height: 70vh;
  min-width: 100%;
  background-image: url(../img/Promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-top: 5rem;
}

.Promo .content {
  max-width: 60rem;
  margin: 0 auto;
}

.Promo .content h1 {
  padding-bottom: 1rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.Promo .content h3 {
  font-weight: 500;
}

/* Promo end */

/* service */

.service .content {
  padding-top: 3rem;
}
.service img {
  width: 30%;
  height: fit-content;
}
.service h2 {
  font-size: 3em;
  color: #412496;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.service h4 {
  color: #412496;
}

.service .ExcelentCars {
  width: 55%;
  height: fit-content;
}
/* service End */

/* List Car Start */
.carlist {
  margin-top: 5em;
}

.carlist .content h4 {
  color: #412496;
}

.carlist .card {
  width: 100%;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.card-text {
  font-size: 2em;
  color: #412496;
}
.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fotomobil {
  margin-top: 1.2rem;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
}

.carlist h5 {
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/* List Car End */

/* Gallery */

.gallery h2 {
  color: #412496;
}
.img {
  width: 100%;
  height: 30vh;
}

.imgbesar {
  width: 100%;
  height: 60.2vh;
}

/* Gallery end */

/* Driver */
.driver {
  margin-top: 6rem;
}
.driver img {
  width: 100%;
  height: 100%;
}

.driver h2 {
  color: #412496;
}
/* Driver end */

/* Footer */
.Footer {
  margin-top: 10rem;
  background-color: #412496;
}
.Footercontact {
  margin-left: 4rem;
  margin-top: 6rem;
}
/* Footer End */
